/*
    1) GENERAL RULES
    2) PASSWORD
    3) SETTINGS
    4) MEDIA QUERIES
    
 */

/* 1) GENERAL RULES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'roboto', sans-serif;
    color: white;
    background-color: rgb(31, 80, 170);
}

button {
    padding: 10px;
    border: none;
    outline: solid white 2px;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 10px 8px white;
}

.flex-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: rgb(80, 141, 255);
}

/* 2) PASSWORD */

.password-wrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    text-align: center;
    background-color: rgb(31, 80, 170);
}

.copy-password {
    margin: 10px;
    cursor: pointer;
}

/* 3) SETTINGS */

.settings {
    width: 100%;
    height: 100%;
    border: none;
    border-top: solid white 2px;
    background-color: rgb(34, 34, 34);
}

.settings__title {
    padding: 1em;
    text-align: center;
    background-color: black;
    border: solid 2px white;
}

.input-wrapper {
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.characters-number {
    margin-left: 10px;
    padding: 0.3em;
    border-radius: 0;
    border: none;
    outline: none;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
}

.include-uppercases {
    margin-left: 10px;
}

.include-numbers {
    margin-left: 27px;
}

.include-symbols {
    margin-left: 29px;
}

.checkbox {
    padding: 10px 0;
}

/* 4) MEDIA QUERIES */

@media (min-width: 1200px) {
    body, button, input {
        font-size: 1.5rem;
    }

    .copy-password {
        margin: 30px;
    }

    input[type="checkbox"] {
        width: 40px;
        height: 40px;
    }

    .include-uppercases {
        margin-left: 20px;
    }
    
    .include-numbers {
        margin-left: 47px;
    }
    
    .include-symbols {
        margin-left: 50px;
    }
}
